.sidebar_blogs {
  max-height: max-content;
  height: max-content;
  padding-bottom: 20px;
}
.aside__title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
  padding-bottom: 8px;
}
.prose p {
  margin-bottom: 12px;
  font-size: 16px;
}

.prose h2 {
  font-size: 22px;
  margin-bottom: 8px;
}
.prose h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
.prose table th {
  color: #fff;
  background-color: #0a264a;
  border-bottom: 1px solid #ddd;
  padding: 4px 8px;
}
.prose table th p,
.prose table td p {
  margin-bottom: 0 !important;
}
.prose table td {
  border-bottom: 1px solid #ddd;
  padding: 8px 12px;
}
